@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: middle;
  background: transparent; }

textarea {
  resize: none;
  outline: none; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul, ol {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div {
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
  clear: both; }

input, select {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
  font-weight: 300; }

html, body {
  background-color: #05051b !important;
  color: #fff;
  font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.wrap {
  background: url(../img/bg_pc.jpg) repeat-x top center/205vh #1a2257;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden; }
  .wrap .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative; }
  .wrap .intro_con {
    height: 100%; }
  .wrap .swiper-pagination {
    top: 45%;
    right: 50%;
    left: 50%;
    margin-left: 46vh;
    width: 20px;
    text-align: center; }
  .wrap .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 10px auto !important;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }
  .wrap .swiper-pagination-bullet-active {
    background: #fef000;
    width: 12px;
    height: 12px;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
  .wrap .bg_footer {
    z-index: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: auto;
    background: url(../img/bg_footer_pc.png) repeat-x bottom center/205vh; }

.bg_logo {
  z-index: 8;
  width: 28vh;
  top: 0;
  margin-left: 13vh; }

.bg_fire {
  z-index: 1;
  width: 15vh;
  top: 10vh;
  margin-left: 29vh; }
  .bg_fire img {
    opacity: 0.3;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    -webkit-transform: rotate(0deg) scale(0.95);
    -moz-transform: rotate(0deg) scale(0.95);
    -ms-transform: rotate(0deg) scale(0.95);
    -o-transform: rotate(0deg) scale(0.95);
    transform: rotate(0deg) scale(0.95); }

.page_next {
  z-index: 9;
  width: 100px;
  bottom: 2%;
  margin-left: -58px; }

.main, .swiper-wrapper, .page {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2; }

.main {
  width: 1140px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative; }

.page {
  position: relative; }
  .page .intro .container {
    height: 100%; }
  .page .intro_01 {
    z-index: 3;
    width: 68vh;
    top: -11vh;
    margin-left: -47vh; }
    .page .intro_01 img {
      opacity: 0.3;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); }
  .page .intro_02 {
    z-index: 3;
    width: 31vh;
    top: 11.5vh;
    margin-left: 12vh; }
  .page .intro_03 {
    z-index: 3;
    width: 43vh;
    top: 60vh;
    margin-left: -9vh;
    cursor: pointer;
    -webkit-filter: brightness(1);
    filter: brightness(1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .page .intro_03:hover {
    -webkit-filter: brightness(1.5);
    filter: brightness(1.5);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .page .intro_04 {
    z-index: 3;
    width: 20vh;
    top: 70vh;
    margin-left: -30vh; }
  .page .h2 {
    margin: 7vh 0 0;
    text-align: center;
    padding-right: 9vh; }
    .page .h2 img {
      width: 68vh; }
  .page .h2 img, .page .pagePIC img {
    margin: 0 auto; }
  .page .page00_01 {
    width: 80vh;
    margin: 0 auto; }
  .page li img {
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .page li:hover img {
    top: -10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .page .grid, .page .grid_2tb, .page .grid_3tb {
    text-align: center;
    margin: 0 auto;
    width: 82vh; }
    .page .grid li, .page .grid_2tb li, .page .grid_3tb li {
      padding: 0; }
      .page .grid li img, .page .grid_2tb li img, .page .grid_3tb li img {
        width: 100%;
        height: auto; }
  .page .grid_1tb, .page .grid_3tb {
    width: 73vh; }
  .page .grid_2tb {
    width: 62vh; }
    .page .grid_2tb li {
      padding: 0 10px; }
  .page .grid_3tb {
    margin-top: -1.5vw; }
  .page .more_card {
    width: 82vh !important;
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .page .more_card a, .page .more_card .swiper-slide {
      width: 100%;
      height: 100%;
      display: block; }
  .page .btn_more {
    width: 200px;
    margin: 0.5vw 0 0 0;
    float: right; }

/* ---------- 影片  ----------*/
#movie .modal-content {
  background-color: transparent;
  border: 0; }

#movie .modal-body {
  padding: 0; }

#movie .modal-dialog {
  width: 800px;
  max-width: none;
  margin: 30px auto; }

#movie .close {
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 0 1px 0 #000; }

/* ---------- 共用  ----------*/
.header_m {
  width: 100%;
  height: 40px;
  background-color: #d7000f;
  padding: 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); }
  .header_m .pclogo {
    width: 180px;
    position: relative; }
  .header_m .pclogo::after {
    content: '';
    position: absolute;
    right: -20px;
    top: 3px;
    width: 1px;
    height: 80%;
    background-color: #fff; }
  .header_m a.mb {
    display: none; }

#navTop {
  width: calc(100% - 240px);
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1; }
  #navTop .swiper-slide {
    cursor: pointer;
    text-align: center;
    position: relative; }
    #navTop .swiper-slide span {
      display: block;
      width: 100%;
      padding: 4px 0 5px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }
  #navTop .active-nav span {
    color: #fff;
    position: relative;
    background: #039ce1 !important; }

@media only screen and (max-width: 1024px) {
  .header_m .container {
    max-width: 95%;
    padding: 0;
    height: 100%; } }

@media only screen and (max-width: 1023px) {
  .header_m {
    height: 35px;
    overflow: hidden; }
    .header_m .pclogo {
      width: 150px; }
  #navTop {
    font-size: 14px;
    width: calc(100% - 200px);
    margin: 0; } }

@media only screen and (max-width: 768px) {
  .header_m {
    position: fixed;
    top: 0;
    height: auto; }
    .header_m .pclogo {
      width: 100%;
      background-color: #fff;
      text-align: center;
      line-height: 1;
      padding: 6px 0 4px; }
      .header_m .pclogo img {
        width: 150px;
        margin: 0 auto; }
    .header_m .container {
      display: block !important;
      margin: 0 auto;
      width: 100%;
      max-width: none; }
    .header_m a.pc {
      display: none; }
    .header_m a.mb {
      display: block; }
  #navTop {
    width: 97%;
    padding: 8px 0 8px;
    margin-left: 1.5%; }
    #navTop * {
      font-weight: 500; } }

@media only screen and (max-width: 767px) {
  .header_m .pclogo img {
    width: 130px; }
  #navTop {
    width: 95%;
    margin-left: 2.5%; } }

.right_menu, .left_menu {
  width: 120px;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 110px;
  overflow: hidden;
  padding-right: 5px; }
  .right_menu .arrow_box, .left_menu .arrow_box {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0 10px 5px;
    width: 40px;
    height: 40px;
    margin: 0 -5px 3px 0;
    cursor: pointer;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .right_menu .arrow_box:hover, .left_menu .arrow_box:hover {
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .right_menu .menu_box, .left_menu .menu_box {
    text-align: center;
    background: rgba(215, 0, 15, 0.8);
    width: 100%;
    padding: 2px 0;
    font-size: 14px;
    overflow: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .right_menu .menu_box img, .left_menu .menu_box img {
      width: 100%;
      display: block; }
    .right_menu .menu_box a, .left_menu .menu_box a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 3px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .right_menu .menu_box a:hover, .left_menu .menu_box a:hover {
      background-color: rgba(255, 255, 255, 0.4);
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .right_menu .menu_box li.banner a, .left_menu .menu_box li.banner a {
      background-color: inherit;
      padding: 0; }
    .right_menu .menu_box li, .left_menu .menu_box li {
      padding: 2px 5px;
      position: relative; }
    .right_menu .menu_box li:nth-child(1) a, .left_menu .menu_box li:nth-child(1) a {
      overflow: hidden; }
    .right_menu .menu_box li.gotop, .left_menu .menu_box li.gotop {
      padding: 3px 4px 2px; }
    .right_menu .menu_box li.gotop::before, .left_menu .menu_box li.gotop::before {
      content: '';
      position: absolute;
      top: 0;
      left: 10%;
      width: 80%;
      height: 1px;
      border-top: 1px dotted #ccc; }
    .right_menu .menu_box li.gotop .arrow, .left_menu .menu_box li.gotop .arrow {
      width: 10px;
      height: 10px;
      margin-right: 5px;
      vertical-align: -3px; }
    .right_menu .menu_box li.act_01 a, .left_menu .menu_box li.act_01 a {
      color: #fff;
      background-color: #eb6201; }
    .right_menu .menu_box li.act_02 a, .left_menu .menu_box li.act_02 a {
      background-color: #fff;
      color: #373737; }
    .right_menu .menu_box li.act_03 a, .left_menu .menu_box li.act_03 a {
      background-color: #3754d0;
      color: #fff600; }
  .right_menu dt, .left_menu dt {
    color: #fff;
    border-bottom: solid 1px #d3d3d3;
    margin: 0 3px;
    padding: 0 0 4px; }
  .right_menu .gohide, .left_menu .gohide {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%); }
  .right_menu span.arrow.arRight.rotate, .left_menu span.arrow.arRight.rotate {
    -webkit-transform: rotate(135deg) !important;
    -moz-transform: rotate(135deg) !important;
    -ms-transform: rotate(135deg) !important;
    -o-transform: rotate(135deg) !important;
    transform: rotate(135deg) !important;
    margin-left: 8px; }
  .right_menu #bestEvent, .left_menu #bestEvent {
    display: none; }

.right_menu .menu_box li {
  padding: 2px 4px; }

.right_menu .arrow_box {
  float: right; }

.left_menu {
  right: auto;
  left: 0;
  padding: 0 0 0 5px; }
  .left_menu .arrow_box {
    margin: 0 0 3px -5px;
    padding: 10px 0 10px 15px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
  .left_menu .gohide {
    -webkit-transform: translateX(-105%);
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -o-transform: translateX(-105%);
    transform: translateX(-105%); }
  .left_menu span.arrow.arLeft.rotate {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    margin-left: -8px; }
  .left_menu .main_menu {
    display: none;
    width: 100%;
    margin: 0;
    font-size: 13px;
    color: #fff;
    line-height: 1;
    background: #eb0000; }
    .left_menu .main_menu li {
      text-align: center;
      position: relative;
      padding: 0 5px; }
      .left_menu .main_menu li img {
        width: 25px;
        vertical-align: -8px; }
      .left_menu .main_menu li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 3px 0 5px; }
      .left_menu .main_menu li span {
        display: block;
        font-weight: 500; }

.subfixed {
  position: fixed;
  top: 10px; }

.menuMask {
  display: none;
  background-color: rgba(34, 34, 34, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 55;
  top: 0px;
  left: 0px; }

.gotopMB {
  display: none;
  width: 40px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 10px;
  bottom: 70px;
  z-index: 5;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }
  .gotopMB span {
    width: 15px;
    height: 15px;
    display: block;
    margin: 10px auto -6px; }

.gotopMB:hover, .gotopMB a {
  color: #fff;
  text-decoration: none; }

#exampleModal .modal-dialog {
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-width: none;
  margin: 0; }

@media only screen and (max-width: 1280px) {
  .right_menu {
    -webkit-transform: scale(0.9) translateX(5%);
    -moz-transform: scale(0.9) translateX(5%);
    -ms-transform: scale(0.9) translateX(5%);
    -o-transform: scale(0.9) translateX(5%);
    transform: scale(0.9) translateX(5%); }
  .left_menu {
    -webkit-transform: scale(0.9) translateX(-5%);
    -moz-transform: scale(0.9) translateX(-5%);
    -ms-transform: scale(0.9) translateX(-5%);
    -o-transform: scale(0.9) translateX(-5%);
    transform: scale(0.9) translateX(-5%); }
  .subfixed {
    top: -10px; } }

@media only screen and (max-width: 1100px) {
  .right_menu .menu_box {
    -webkit-transform: translateX(105%);
    -moz-transform: translateX(105%);
    -ms-transform: translateX(105%);
    -o-transform: translateX(105%);
    transform: translateX(105%); }
  .left_menu .menu_box {
    -webkit-transform: translateX(-105%);
    -moz-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    -o-transform: translateX(-105%);
    transform: translateX(-105%); }
  .right_menu .gohide, .left_menu .gohide {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .right_menu .arRight {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-left: 8px; }
  .right_menu span.arrow.arRight.rotate {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    -ms-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
    margin-left: 0; }
  .left_menu .arLeft {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -8px; }
  .left_menu span.arrow.arLeft.rotate {
    -webkit-transform: rotate(135deg) !important;
    -moz-transform: rotate(135deg) !important;
    -ms-transform: rotate(135deg) !important;
    -o-transform: rotate(135deg) !important;
    transform: rotate(135deg) !important;
    margin-left: 0; } }

@media only screen and (max-width: 768px) {
  .right_menu, .left_menu {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
    .right_menu .arrow_box, .left_menu .arrow_box {
      display: none; }
    .right_menu .menu_box, .left_menu .menu_box {
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
      .right_menu .menu_box li.banner, .right_menu .menu_box li.gotop, .right_menu .menu_box li.subtitle, .left_menu .menu_box li.banner, .left_menu .menu_box li.gotop, .left_menu .menu_box li.subtitle {
        display: none; }
      .right_menu .menu_box li:nth-child(1) a, .left_menu .menu_box li:nth-child(1) a {
        overflow: inherit; }
  .right_menu {
    top: 0;
    z-index: 22; }
    .right_menu .menu_box {
      width: 100%;
      background-color: #fff; }
    .right_menu li {
      display: inline-block;
      position: relative;
      width: auto;
      height: 100%; }
    .right_menu .menu_box::-webkit-scrollbar {
      height: 5px;
      background-color: #EAEAEA; }
    .right_menu .menu_box::-webkit-scrollbar-thumb {
      background-color: darkgrey; }
  .right_menu.subfixed {
    position: fixed !important; }
  .left_menu {
    position: fixed;
    bottom: 0px;
    top: inherit;
    z-index: 88; }
    .left_menu .menu_box {
      display: none;
      background-color: inherit;
      padding: 0 8px;
      margin-bottom: 10px;
      text-align: center; }
      .left_menu .menu_box li {
        display: inline-block;
        position: relative;
        width: calc(100% / 3 - 4px);
        text-align: left;
        margin: 0 0 8px;
        padding: 0; }
      .left_menu .menu_box a {
        text-align: center;
        padding: 8px 3px;
        color: #000;
        background-color: #fff600; }
  .main_menu {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important; }
  .gotopMB {
    display: block; } }

.card_note {
  padding: 10px 0;
  color: #959595;
  background-color: #282828;
  line-height: 22px;
  font-size: 13px; }
  .card_note .left {
    margin: 0 12px;
    padding: 5px 10px;
    border: 1px solid #959595;
    font-size: 170%;
    font-weight: 500;
    letter-spacing: 5px;
    vertical-align: middle; }

.footer {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 15px 10px 20px;
  line-height: 22px;
  font-size: 13px;
  background-color: #101010; }
  .footer li {
    margin: 0 3px; }
  .footer li.text {
    margin-right: 10px; }
  .footer li img {
    width: 40px; }

@media only screen and (max-width: 991px) {
  .card_note {
    display: block !important;
    padding: 20px;
    text-align: center; }
    .card_note .left {
      width: 310px;
      max-width: 100%;
      margin: 0 auto 8px; } }

@media only screen and (max-width: 480px) {
  .card_note .left {
    font-size: 160%; } }

.arrow {
  border: solid rgba(255, 255, 255, 0.7);
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: -5px; }

.arRight {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.arLeft {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.arUp {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.absolute {
  position: absolute;
  left: 50%;
  right: 50%; }

.show {
  display: block !important; }

.d-block {
  width: 100%; }

img.mb {
  display: none !important; }

@media only screen and (max-width: 1024px) {
  .wrap {
    height: calc(100% - 20px); }
  .page_next {
    width: 70px;
    margin-left: -41px; } }

@media only screen and (max-width: 991px) {
  #movie .modal-dialog {
    width: 95%;
    margin-top: -50px; }
  #movie .close {
    font-size: 6vw; }
  img.pc, .pc {
    display: none !important; }
  img.mb {
    display: block !important; }
  .wrap {
    background: url(../img/bg_footer_mb.png) repeat-x bottom center/75vh, url(../img/bg_mb.jpg) repeat-x top center/75vh #1a2257; }
    .wrap .swiper-pagination {
      left: auto;
      right: 1.5%;
      margin: 0; }
  .bg_logo {
    width: 26vh;
    margin-left: -13vh; }
  .bg_fire {
    width: 16%;
    top: 2%;
    margin-left: 30%; }
  .page_next {
    bottom: 3%;
    width: 15%; }
  .page .intro_01 {
    width: 69vw;
    margin-left: -52vw;
    top: -1vw; }
  .page .intro_02 {
    width: 47vw;
    top: 21vw;
    margin-left: -2vh; }
  .page .intro_03 {
    width: 49vw;
    top: 76vw;
    margin-left: -4vw; }
  .page .h2 {
    margin: 10% auto 0;
    padding: 0;
    width: 75%; }
    .page .h2 img {
      width: 100%; }
  .page .page00_01, .page .grid {
    width: 90%; }
  .page .page06, .page .page08 {
    width: 80%; }
  .page .more_card {
    width: 90% !important;
    padding-left: 20px; } }

@media only screen and (max-width: 768px) {
  .wrap {
    height: 100%;
    position: fixed;
    top: 70px; }
  .page_next {
    bottom: 13%;
    width: 15%; } }

@media only screen and (max-width: 767px) {
  .bg_logo {
    width: 46vw;
    margin-left: -22vw;
    z-index: 3; }
  .bg_fire {
    width: 21vw;
    top: 7vw;
    margin-left: 28vw; }
  .page_next {
    bottom: 8%;
    width: 15%;
    margin-left: -7%; }
  .wrap {
    height: calc(100% - 100px);
    background: url(../img/bg_mb.jpg) repeat-x top center/113vw #1a2257;
    background-size: cover; }
    .wrap .container {
      height: auto;
      margin-top: 17vw; }
    .wrap .intro_con {
      margin-top: 3vw;
      overflow: hidden; }
    .wrap .intro_01 {
      width: 76vw;
      position: relative;
      z-index: 5;
      top: 0;
      right: auto;
      left: auto;
      margin: -2vw 0 0 -5vw; }
    .wrap .intro_02 {
      position: relative;
      top: 0;
      right: auto;
      left: auto;
      float: right;
      width: 54vw;
      margin: -57vw 5vw 0 -4vw; }
    .wrap .intro_03 {
      width: 58vw;
      position: relative;
      top: 0;
      right: auto;
      bottom: auto;
      margin: 6vw 0 0 -14vw; }
    .wrap .swiper-pagination {
      width: 12px;
      left: auto;
      right: 1%;
      margin: 0; }
    .wrap .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      margin: 7px auto !important; }
    .wrap .swiper-pagination-bullet-active {
      width: 8px;
      height: 8px; }
    .wrap .bg_footer {
      background: none;
      height: auto; }
    .wrap .btn_more {
      margin: 2vw 0 0 0;
      width: 130px; }
  .page .h2 {
    margin: -1% 0 0 9%; }
  .page .page01 {
    height: 100%; }
  .page .page00_01, .page .grid, .page .grid_2tb, .page .grid_3tb {
    width: 90%;
    margin: 0 0 0 4%; }
  .page .grid_3tb {
    margin-top: -2%; }
  .page .page00_01 {
    width: 96%;
    margin: 0 0 0 1%; }
  .page .page06, .page .page08 {
    width: 90%; }
  .page .mb_over {
    width: 90%;
    margin: 0 0 0 3%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .page .mb_over ul.grid.row {
      width: 127%;
      margin: 0;
      -webkit-overflow-scrolling: touch; }
  .page .visb {
    visibility: visible;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; } }

body, div, span, h1, p, a, img, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

.inset {
  text-align: center; }

.inset a {
  color: #06c;
  font: 11px/20px normal; }

.logotype a {
  display: block;
  width: 186px;
  height: 60px;
  text-indent: -9999px; }

#HEADER .logotype a {
  background: url(); }

#HEADER {
  position: relative;
  height: 60px;
  width: 930px;
  margin: 0 auto;
  margin-bottom: 6px;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  background: url() repeat-x; }

#HEADER a {
  display: block;
  position: absolute; }

#HEADER .site_roadsign {
  width: 68px;
  height: 65px;
  left: 186px;
  top: 0;
  text-indent: -9999px; }

#HEADER .site_ad {
  left: 312px;
  top: 16px;
  border: 1px solid #ddd; }

#FOOTER {
  margin: 10px 0 20px;
  color: #777;
  font: 13px/1.5 Verdana;
  text-align: center; }

#FOOTER a {
  color: #333;
  font: 13px/1.5 Verdana; }

#FOOTER span {
  margin: 0 4px;
  color: #999;
  font: 12px/1.5 Verdana; }

#GLOBALWRAPPER, #WRAPPER {
  margin: 0 auto; }

#GLOBALWRAPPER {
  overflow: hidden;
  margin-bottom: 7px; }
